<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <title>Success</title>

{#    <link rel="stylesheet" href="css/font-awesome.min.css">#}
{#    <link rel="stylesheet" href="css/neo4jd3.min.css?v=0.0.1">#}
{#    #}
{#    <script src="js/d3.min.js"></script>#}
{#    <script src="js/neo4jd3.js?v=0.0.1"></script>#}
    <script src="{{ url_for('static', filename='d3/js/neo4jd3.js') }}"></script>
    <script src="{{ url_for('static', filename='d3/js/d3.min.js') }}"></script>


    <link rel="stylesheet" href="{{ url_for('static', filename='d3/css/font-awesome.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='d3/css/neo4jd3.min.css') }}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"></script>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/1.1.2/js/bootstrap-multiselect.min.js" integrity="sha512-lxQ4VnKKW7foGFV6L9zlSe+6QppP9B2t+tMMaV4s4iqAv4iHIyXED7O+fke1VeLNaRdoVkVt8Hw/jmZ+XocsXQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/1.1.2/css/bootstrap-multiselect.css" integrity="sha512-tlP4yGOtHdxdeW9/VptIsVMLtgnObNNr07KlHzK4B5zVUuzJ+9KrF86B/a7PJnzxEggPAMzoV/eOipZd8wWpag==" crossorigin="anonymous" referrerpolicy="no-referrer" />



    <style>
        body,
        html,
        .neo4jd3 {
            height: 100%;
            overflow: hidden;
        }
    </style>
</head>
<body>
<!--<h1>Success</h1>-->

<div class="row  h-100">
    <div class="col-10 h-100 border rounded shadow-sm bg-white">
            <div id="neo4jd3"   ></div>
    </div>
    <div class="col-2 border rounded shadow-sm bg-white">


        <h5>最大顯示數量:<span id="limitValue">600</span></h5>
        <div class="dropdown">
            <button class="btn btn-outline-dark dropdown-toggle" type="button" id="limitDropdown" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                選擇最大顯示數量
            </button>
            <div class="dropdown-menu" aria-labelledby="limitDropdown">
                <a class="dropdown-item limit-button" id="limit400">400</a>
                <a class="dropdown-item limit-button" id="limit600">600</a>
                <a class="dropdown-item limit-button" id="limit800">800</a>
                <a class="dropdown-item limit-button" id="limit1000">1000</a>
                <a class="dropdown-item limit-button" id="limit2000">2000</a>
                <a class="dropdown-item limit-button" id="limit3000">3000</a>
            </div>
        </div>


        <div class="form-group">
            <label for="cooccurrenceSlider" class="text-dark">
                    <h5>Co-occurrence 大於:<span id="cooccurrenceValue" class="font-weight-bold text-dark ml-2">30</span></h5>
            </label>
            <input type="range" class="custom-range" id="cooccurrenceSlider" name="cooccurrenceSlider" min="1" max="100"
                   step="1" value="30">
        </div>

        <h5>關鍵字:</h5>
        <select id="pick_keywords" multiple="multiple"></select>

        <h5>年份:</h5>
        <select id="pick_years" multiple="multiple"></select>

        <h5>分頁:</h5>
        <div id="pagination" >
            <button class="btn btn-outline-dark" id="prevButton">Previous</button>
            <span id="currentPage" class="text-dark"></span>
            <button class="btn btn-outline-dark" id="nextButton">Next</button>
        </div>
    </div>
</div>


    <!--        <a href="https://github.com/eisman/neo4jd3"><img style="cursor: pointer; position: absolute; top: 0; right: 0; border: 0;" src="img/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub" data-canonical-src="img/forkme_right_gray_6d6d6d.png"></a>-->

    <!-- Scripts -->

    <script type="text/javascript">

        $(document).ready(function () {
            // Initialize Neo4jd3
            var neo4jd3 = null;
            var container = '#neo4jd3';

             cooccurrence = 30;
             skip = 0;
             limit = 600;
             page = 0;

            $('#cooccurrenceSlider').on('input', function () {
                cooccurrence = $(this).val();
                $('#cooccurrenceValue').text(cooccurrence);
                updateData();
            });

            $('.limit-button').on('click', function () {
                limit = parseInt(this.id.replace('limit', ''));
                $('#limitValue').text(limit);

                updateData();
            });

            // update page number on page load
            $('#currentPage').text(page + 1);

            $('#prevButton').on('click', function () {
                if (page > 0) {
                    page--;
                    $('#currentPage').text(page + 1);
                    updateData();
                }
            });

            $('#nextButton').on('click', function () {
                page++;
                $('#currentPage').text(page + 1);
                updateData();
            });

/*
            function updateData() {
                var skip = page * limit;
                $(container).empty();
                console.log(limit, skip, cooccurrence);
                var neoDataUrl = `https://kg-api-tawny.vercel.app/graph_data?limit=${limit}&skip=${skip}&cooccurrence=${cooccurrence}`;
                console.log(neoDataUrl);
                neo4jd3 = new Neo4jd3(container, {
                    highlight: [],
                    icons: {},
                    images: {},
                    minCollision: 6,
                    neo4jDataUrl: neoDataUrl,
                    nodeRadius: 0,
                    zoomFit: true
                });
            }*/
            
            
            //https://kg-api-tawny.vercel.app/   https://kg-api-tawny.vercel.app
            selected = [];
            function updateData() {
                                        $.ajax({
                            type: 'POST',
                            url: '{{ api_server_url }}/graph_data',
                            contentType: 'application/json',
                            data: JSON.stringify({selected: selected, limit: limit, skip: skip, cooccurrence: cooccurrence,years:pick_years_selected}),
                            success: function(response) {
                                    neo4jd3 = new Neo4jd3(container, {
                                        highlight: [],
                                        icons: {},
                                        images: {},
                                        minCollision: 13 + Number(cooccurrence/5),
                                        neo4jData: response,
                                        nodeRadius: 0,
                                        zoomFit: true
                                    });
                            },
                            error: function(error) {
                                console.log(error);
                            }
                        });
                }
                    pick_years_selected = [];

                    var currentYear = (new Date()).getFullYear();

                    var pick_years_optgroups = [
                        {
                            label: '最近五年',
                            children: Array.from({length: 5}, function(_, i) {
                                let year = currentYear - i  // One year in the future
                                return {label: year.toString(), value: year.toString()}
                            })
                        },
                        {
                            label: '更多',
                            children: Array.from({length: 20}, function(_, i) {
                                let year = currentYear - i - 5 // From current year to the past
                                return {label: year.toString(), value: year.toString()}
                            })
                        }
                    ];

                    console.log(pick_years_optgroups);


                    $('#pick_years').multiselect({
                    maxHeight: 500,
                    includeSelectAllOption: true,
                    enableFiltering: true,
                    enableClickableOptGroups: true,
                    dropRight: true,
                    enableCollapsibleOptGroups: true,
                    onChange: function(element, checked) {
                        var brands = $('#pick_years option:selected');
                        pick_years_selected = [];
                        $(brands).each(function(index, brand){
                            pick_years_selected.push($(this).val());
                        });
                        console.log(pick_years_selected);
                        updateData();

                    }
            }).multiselect('dataprovider', pick_years_optgroups)
                .multiselect('rebuild');

            $.get("{{ api_server_url }}/graph_data_select", function(data) {
                var optgroups = data;
                $('#pick_keywords').multiselect({
                    maxHeight: 500,
                    includeSelectAllOption: true,
                    enableFiltering: true,
                    enableClickableOptGroups: true,
                    dropRight: true,
                    enableCollapsibleOptGroups: true,
                    onChange: function(element, checked) {
                        var brands = $('#pick_keywords option:selected');
                        selected = [];
                        $(brands).each(function(index, brand){
                            selected.push($(this).val());
                        });
                        console.log(selected);
                        updateData();
                    }
                })
                .multiselect('dataprovider', optgroups)
                .multiselect('rebuild');
            });





            updateData()


        });


    </script>


</body>
</html>
